  <div>
    <div class="bg-white flex-row flex items-end z-50 sticky top-0 w-full px-6">
      <p class="flex-none text-black text-2xl mb-3">Учис салага</p>
      <div class="flex-1">
        <ul nz-menu nzMode="horizontal" class="hidden sm:block ">
          <li nz-menu-item nzSelected>
            Предметы
          </li>
          <li nz-menu-item>
            Задачи
          </li>
          <li nz-menu-item>
            Лекции
          </li>
        </ul>
      </div>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul *ngIf="user" nz-menu nzSelectable>
        <li (click)="logout()" nz-menu-item>Выйти</li>
      </ul>
    </nz-dropdown-menu>
      <nz-avatar nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight" nz-tooltip [nzTooltipTitle]="user ? user.lastName + ' ' + user.firstName : ''" class="bg-sky-600 my-2" nzIcon="user" [nzSize]="40"
        [nzSrc]="user?.avatar ?? ''"></nz-avatar>
    </div>
  </div>
