<div class="flex justify-center items-stretch self-stretch min-h-screen mx-4">
    <mat-tab-group class="w-full">
        <mat-tab label="Текст">
            <div class=" ring ring-slate-400 rounded-md m-2 p-2">
                <textarea class="bg-transparent hw-full h-screen" matInput [(ngModel)]="markdown"></textarea>
            </div>
        </mat-tab>
        <mat-tab label="Просмотр">
            <markdown class="p-4 w-full h-screen self-stretch" [data]="markdown ?? ''"></markdown>
        </mat-tab>
    </mat-tab-group>
</div>