<app-navbar> </app-navbar>
<div class="flex-row flex w-full px-16">
    <mat-card class="p-4 basis-1/4 m-4">
        <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
        </ol>

    </mat-card>
    <mat-card class="grow">
        <router-outlet></router-outlet>
    </mat-card>
    <mat-card class="p-4 m-4 basis-1/4">
        <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
        </ul>

    </mat-card>
</div>