<div class="relative w-full md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pb-28">
    <div class="relative w-full px-6 mt-10 py-12 bg-white shadow-xl shadow-slate-700/10 ring-1 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pt-16 lg:pb-28">
        <form nz-form  [formGroup]="validateForm" class="">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your username!">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="userName" placeholder="Username" class="ring-2 ring-slate-200 p-1 rounded-sm"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                    <nz-input-group nzPrefixIcon="lock" class="ring-1 ring-slate-200">
                        <input type="password" nz-input formControlName="password" placeholder="Password" class="ring-2 ring-slate-200 p-1 rounded-sm"/>
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <div nz-row class="">
            </div>
            <button nz-button class="rounded-md"  nzSize="large" [nzType]="'primary'">Sign in</button>
        </form>
    </div>
</div>