
<nz-breadcrumb class="my-5 mx-6 text-black" nzSeparator=">">
    <nz-breadcrumb-item class="">
        <span class="inline-block" nz-icon nzType="home"></span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item class="c">
        <span
            class="whitespace-nowrap inline-block overflow-ellipsis max-w-xs overflow-hidden hover:max-w-none -mb-1.5">
            Новые технологии в разработке программных систем
        </span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span
            class="whitespace-nowrap inline-block overflow-ellipsis max-w-xs overflow-hidden hover:max-w-none -mb-1.5">
            Модуль 1
        </span>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
        <span
            class="whitespace-nowrap inline-block overflow-ellipsis max-w-xs overflow-hidden hover:max-w-none -mb-1.5">
            Задача 1
        </span>
    </nz-breadcrumb-item>
</nz-breadcrumb>
<div *ngIf="document" class="flex flex-col md:flex-row h-full">
    <div class="bg-white mb-2 md:sticky top-32 h-fit p-2 rounded-tr-2xl rounded-br-2xl flex flex-grow-0 w-fit mr-2 md:flex-col gap-1">
        <a [routerLink]="['/doc/edit', id]">
            <button nz-tooltip nzTooltip nzTooltipPlacement="right" nzTooltipTitle="Назад к документу"
                class="ant-btn-icon-only" nz-button nzType="primary" nzSize="large" nzShape="circle">
                <span nz-icon nzType="edit" nzTheme="outline"></span>
            </button>
        </a>
        <button nz-tooltip nzTooltip nzTooltipPlacement="right" nzTooltipTitle="Сохранить" class="ant-btn-icon-only"
            nz-button nzType="primary" nzSize="large" nzShape="circle">
            <span class="flex" nz-icon nzType="download" nzTheme="outline"></span>
        </button>
        <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76">
            <button nz-tooltip nzTooltip nzTooltipPlacement="right" nzTooltipTitle="Загрузить" class="ant-btn-icon-only"
                nz-button nzType="primary" nzSize="large" nzShape="circle">
                <span nz-icon nzType="upload" nzTheme="outline"></span>
            </button>
        </nz-upload>
    </div>
    <div class="px-6 py-12 bg-white shadow-xl w-full shadow-slate-700/10 mt-0 ring-gray-900/5 md:max-w-3xl md:mx-auto lg:max-w-4xl lg:pt-16 lg:pb-28 my-20 min-h-[75vh]">
            <div class="max-w-prose mx-auto">
                <app-user-badge></app-user-badge>
                <markdown class="prose lg:text-lg w-prose" katex emoji mermaid [data]="document.text"></markdown>
            </div>
    </div>
</div>

